<template lang="html">
  <button class="item">
    <span v-if="item.amount" class="order-amount">x {{item.amount}}</span>
    {{ item.id }}
  </button>
</template>

<script>
import { mapGetters } from 'vuex';

export default {
  props: {
    item: Object
  }
};
</script>

<style scoped>
.item {
  float: left;
  height: 22.5vw;
  width: 22.5vw;
  border: solid 1px darkgray;
  background-color: white;
  margin: 0 1vw 2vw;
  font-weight: 200;
  font-size: 2rem;
  padding: 0;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.order-amount {
  position: absolute;
  background-color: #f4ead5;
  font-size: 1.5rem;
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 0;
  right: 0;
}
</style>
