<template lang="html">
  <div class="list">
    <div v-for="item in items" :key="item.id" class="item" v-on:click="increaseAmount(item)">
      <ItemButton :item="item" />
    </div>
  </div>
</template>

<script>
import ItemButton from '~/components/ItemButton';
import { mapGetters } from 'vuex';

// 一度のタップで増加する注文量
const INCREASE_AMOUNT = 1;

export default {
  methods: {
    increaseAmount(item) {
      this.$store.dispatch('INCREASE_ORDER_AMOUNT', {
        id: item.id,
        amount: INCREASE_AMOUNT
      });
      console.log(item.id);
    }
  },
  components: {
    ItemButton
  },
  computed: {
    ...mapGetters(['items'])
  }
};
</script>

<style scoped>
.list {
  width: 100%;
  list-style: none;
  padding: 0;
}
</style>
