<template lang="html">
  <div class="list">
    <table class="order-list">
      <thead>
        <tr>
          <th>No.</th>
          <th>名称</th>
          <th>点数</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="orderItem in order" :key="orderItem.id">
          <td>{{ orderItem.detail.id }}</td>
          <td>{{ orderItem.detail.name }}</td>
          <td>{{ orderItem.amount }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</template>

<script>
import { mapGetters } from 'vuex';

export default {
  computed: {
    ...mapGetters(['order'])
  }
};
</script>

<style lang="sass" scoped>
table.order-list
  border-collapse: collapse
  width: 100%;
  & th
    padding: 0;
    border: solid 1px lightgray;
    background-color: #ccc;
    line-height: 2
    font-weight: 200;
  & td
    border: solid 1px lightgray;
    padding: 0;
    line-height: 2
    font-weight: 200;
    // 番号
    &:first-child
      min-width: 4rem;
    // 名称
    &:nth-child(2)
      width: 100%;
    // 点数
    &:last-child
      min-width: 4rem;  
</style>
