.container {
  margin: 0 1vw;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  flex-direction: column;
}

#hint-area {
  margin: 5px 0;
  padding: 3px;
  width: 100%;
  background-color: #e94e77;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.background-icon {
  color: rgba(255, 255, 255, 0.4);
  position: absolute;
}

#button-area {
  height: 40px;
  width: calc(100% - 2vw);
  margin-left: 1vw;
  margin-right: 1vw;
}

a {
  text-decoration: none;
}
