<template>
  <div>
    <header>
      <span />
      <span id="app-logo">
        AGI nomi-ho remo-con!
      </span>
      <span>
        <button id="menu-button">
        <i class="fa fa-question-circle fa-2x" aria-hidden="true" />
        </button>
      </span>
    </header>

    <nuxt/>
  </div>
</template>

<style>
html {
  font-family: 'Kokoro';
  font-size: calc(100vw / 30);
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
}

header {
  width: 100vw;
  display: flex;
  justify-content: space-between;
  padding: 1vw;
}

span#app-logo {
  font-size: 2rem;
  font-family: 'Indie Flower', cursive;
}

#menu-button {
  color: #a0a0a0;
}
</style>
