<template>
  <div class="container">
    <div id="hint-area">
      <i class="fa fa-info-circle background-icon fa-3x" aria-hidden="true" />
      このページでは和酒バールAGIの飲み放題をご利用のお客様が、ドリンクをご注文いただけます。<br />
      飲み放題メニューに対応する番号を押して青色のボタンからご注文ください！
    </div>
    <OrderList />
    <div id="button-area">
      <nuxt-link to="./edit">
        <button id="reset-button">
          戻る
        </button>
      </nuxt-link>
      <button id="send-button" v-on:click="submitOrder()">
        <span>注文する</span>
        <i class="fa fa-paper-plane fa-2x" aria-hidden="true" />
      </button>
    </div>
  </div>
</template>
 
<script>
import axios from 'axios';
import { mapGetters } from 'vuex';

import OrderList from '~/components/OrderList';

export default {
  methods: {
    async submitOrder() {
      await this.$store.dispatch('SUBMIT_ORDER');
      this.$router.push('./edit');
    }
  },
  components: {
    OrderList
  },
  async asyncData({ params, store }) {
    await store.dispatch('INIT_ITEMS', params);
  },
  head() {
    return {
      title: `AGI nomi-ho remo-con!`,
      meta: []
    };
  },
  computed: {
    ...mapGetters(['items', 'order'])
  }
};
</script>
 
<style>
.container {
  margin: 0 1vw;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  flex-direction: column;
}

#hint-area {
  margin: 5px 0;
  padding: 3px;
  width: 100%;
  background-color: #e94e77;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.background-icon {
  color: rgba(255, 255, 255, 0.4);
  position: absolute;
}

#button-area {
  height: 40px;
  width: calc(100% - 2vw);
  margin-left: 1vw;
  margin-right: 1vw;
}

#reset-button {
  height: 100%;
  width: 38%;
  background-color: #e94e77;
  color: white;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  float: left;
  margin-right: 2%;
}

#send-button {
  height: 100%;
  width: 60%;
  background-color: #417dcc;
  color: white;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

#send-button > span {
  font-size: 1.5rem;
}

@media screen and (min-width: 768px) {
  .item {
    height: 17.6vw;
    width: 17.6vw;
  }
  #control-area {
    height: 17.6vw;
    width: 17.6vw;
  }
}
</style>
