<template>
  <div class="container">
    <div id="hint-area">
      <i class="fa fa-info-circle background-icon fa-3x" aria-hidden="true" />
      このページでは和酒バールAGIの飲み放題をご利用のお客様が、ドリンクをご注文いただけます。<br />
      飲み放題メニューに対応する番号を押して青色のボタンからご注文ください！
    </div>
    <ItemList />
    <div id="button-area">
      <button id="reset-button">
        リセット
      </button>
      <nuxt-link to="./confirm">
        <button id="send-button" disabled="">
          <span>確認する</span>
          &nbsp;
          <i class="fa fa-caret-right fa-2x" aria-hidden="true" />
        </button>
      </nuxt-link>
    </div>
  </div>
</template>
 
<script>
import axios from 'axios';
import { mapGetters } from 'vuex';

import ItemList from '~/components/ItemList';

export default {
  methods: {
    async submitOrder() {
      this.$store.dispatch('SUBMIT_ORDER');
    }
  },
  components: {
    ItemList
  },
  async asyncData({ params, store }) {
    await store.dispatch('INIT_ITEMS', params);
  },
  head() {
    return {
      title: `AGI nomi-ho remo-con!`,
      meta: []
    };
  },
  computed: {
    ...mapGetters(['items'])
  }
};
</script>
 
<style scoped>
#reset-button {
  height: 100%;
  width: 38%;
  background-color: #e94e77;
  color: white;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  float: left;
  margin-right: 2%;
}

#send-button {
  height: 100%;
  width: 60%;
  background-color: #417dcc;
  color: white;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

#send-button > span {
  font-size: 1.5rem;
}

@media screen and (min-width: 768px) {
  .item {
    height: 17.6vw;
    width: 17.6vw;
  }
  #control-area {
    height: 17.6vw;
    width: 17.6vw;
  }
}
</style>
